hdl_prefix: {{ hdl_prefix }}
hdl_qualifier: {{ hdl_qualifier }}
hdl_admin_handle: {{ hdl_admin_handle }}
hdl_admin_index: {{ hdl_admin_index }}
hdl_handle_api_endpoint: {{ hdl_handle_api_endpoint }}
hdl_handle_permissions: '111111111111'
hdl_handle_basic_auth_password: {{ hdl_handle_basic_auth_password }}
